@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

:root {
    --clr-black: hsl(0, 0%, 8%);
    --clr-grey: hsl(0, 0%, 14%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-grey: hsl(0, 0%, 85%);
    --clr-yellow: hsl(52, 100%, 50%);
    --clr-jade: hsl(150, 49%, 33%);
    --ff: 'Space Grotesk', sans-serif;
    --transition: 0.3s ease;
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

button, a {
    cursor: pointer;
    transition: var(--transition);
}

b {
    color: var(--clr-jade);
    font-weight: 700;
}

body {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--clr-black);
    font-family: var(--ff);
    justify-content: center;
    margin: 1rem 0vw 0vw 0vw;
}

.header-and-home {
    height: 100vh;
}

header {
    background-color: var(--clr-white);
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0vw;
}

header, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scrolled {
    background-color: hsl(0, 0%, 95%);
}

.menu-btn, .close-btn, .top-btn {
    display: none;
}

.logo {
    text-align: center;
    margin: 1em 0vw 0vw 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: auto;
    height: 2.5rem;
}

.logo span {
    margin: 0vw 0vw 0vw 0.5vw;
    font-size: 1.4rem;
    font-weight: 600;
}

.sections {
    margin: 1em 7vw 0vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section {
    margin: 0vw 1vw;
    padding: 1rem 0rem;
    border-bottom: 0.25rem solid transparent;
    font-weight: 500;
    color: var(--clr-black);
    text-decoration: none;
    transition: var(--transition);
    font-size: 1.25rem;
}

.section:hover, .section:active, .section:focus {
    color: var(--clr-yellow);
    border-bottom: 0.25rem solid var(--clr-jade);
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0vw 4vw 0vw 8vw;
    align-items: center;
    height: calc(100vh - 3rem);
}

.home-body {
    width: 46vw;
    display: flex;
    flex-direction: column;
}

.home-body-text {
    display: flex;
    flex-direction: column;
}

.home-body-text-header {
    font-size: 4rem;
    font-weight: 700;
    color: var(--clr-jade);
    margin: 0vw 0vw 1rem 0vw;
}

.home-body-text-body {
    font-size: 1.5rem;
    margin: 1.5rem 0rem;
    line-height: 1.75;
}

.contact-btn {
    color: var(--clr-black);
    background-color: inherit;
    padding: 1rem 0vw;
    font-size: 1.25rem;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-bottom: 0.25rem solid var(--clr-jade);
    margin: 3em 0vw 0vw 0vw;
    transition: var(--transition);
    width: fit-content;
}

.contact-btn:hover, .contact-btn:active, .contact-btn:focus {
    color: var(--clr-yellow);
}

.home-hero {
    width: 42vw;
    height: 50vw;
    background-image: url(assets/desktop-hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.about {
    margin: 1rem 8vw 0vw 8vw;
    display: flex;
    flex-direction: column;
}

.who, .journey, .values {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 0.5rem 0vw 1rem 0vw;
}

.who-header, .journey-header, .values-header {
    font-size: 1.25rem;
    font-weight: 700;
}

.values-body {
    display: flex;
    flex-direction: column;
}

.values-body span {
    margin: 0.25rem 0vw
}

.mission {
    margin: 0rem 8vw;
    padding: 6.5rem 0vw 0vw 0vw;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.mission-body {
    display: flex;
    flex-direction: column;
}

.mission-body span {
    margin: 0.5rem 0vw;
}

.our, .why, .impact, .involved {
    display: flex;
    flex-direction: column;
}

.why-header, .impact-header, .involved-header {
    font-size: 1.25rem;
    color: var(--clr-black);
}

.act {
    margin: 0vw 8vw;
    display: flex;
    flex-direction: column;
    padding: 6.5rem 0vw 0vw 0vw;
}

.act-body {
    display: flex;
    flex-direction: column;
    justify-content: centre;
}

#map {
    height: 20rem;
    width: 80vw;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6.5rem 0vw 0vw 0vw;
    margin: 0vw 20vw 4rem 8vw;
}

.contact-us {
    display: flex;
    flex-direction: column;
}

.form-header, .act-header, .about-header, .mission-header {
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--clr-jade);
    text-transform: uppercase;
    margin: 0vw 0vw 0.5rem 0vw;
}

input {
    font-size: 1rem;
    font-family: var(--ff);
    padding: 1rem ;
    margin: 1rem 0vw 0vw 0vw;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid var(--clr-jade);
    width: 30vw;
}

textarea {
    font-size: 1rem;
    font-family: var(--ff);
    padding: 1rem;
    margin: 1rem 0vw 0vw 0vw;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid var(--clr-jade);
    width: 30vw;
}

::placeholder {
    color: var(--clr-black);
}

.send-button {
    color: var(--clr-black);
    background-color: inherit;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--ff);
    justify-content: center;
    border: none;
    border-bottom: 0.25rem solid var(--clr-jade);
    margin: 0vw;
    cursor: pointer;
    transition: var(--transition);
    width: fit-content;
    text-transform: uppercase;
}

.send-button:hover, .send-button:active, .send-button:hover {
    color: var(--clr-yellow);
}

.links {
    display: flex;
    flex-direction: column;
}

.links-header {
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--clr-jade);
    text-transform: uppercase;
    margin: 0vw 0vw 0.5rem 0vw;
}

.link {
    margin: 1vw 0vw 0vw 0vw;
    font-weight: 400;
    color: var(--clr-black);
    text-decoration: none;
    transition: var(--transition);
    font-size: 1.2rem;
}

.link:hover, .link:active, .link:focus {
    color: var(--clr-yellow);
}

.socials {
    margin: 1em 7vw 0vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    height: 1.6rem;
    width: 1.6rem;
    margin: 0vw 0.75vw;
    background-color: inherit;
    border: none;
    padding: 0vw;
    transition: var(--transition);
}

.social img {
    width: 1.6rem;
    height: 1.6rem;
    filter: brightness(0);
}

.gmail {
    filter: none;
}

.social img:hover {
    filter: brightness(0) saturate(100%) invert(82%) sepia(42%) saturate(1027%) hue-rotate(358deg) brightness(102%) contrast(104%);
}

.copyright {
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem 0vw;
}


/* MOBILE VIEW */
@media screen and (max-width: 768px) {
    body {
        margin: 0.5rem 0vw 0vw 0vw;
        width: 100vw;
    }


    header, footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0vw 0vw 0.5rem 0vw;
        /* z-index: 2; */
    }

    .menu-btn, .close-btn, .top-btn {
        display: block;
    }

    .logo {
        text-align: center;
        margin: 1em 0vw 0vw 6vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo img {
        width: auto;
        height: 2rem;
    }

    .logo span {
        margin: 0vw 0vw 0vw 0.5vw;
        font-size: 1.1rem;
        font-weight: 600;
    }

    .menu {
        margin: 1em 6vw 0vw 0vw;
    }

    .menu-btn {
        padding: 0vw;
        display: flex;
        justify-content: center;
        background-color: inherit;
        border: none;
    }

    .menu-btn img, .close-btn img, .top-btn img {
        width: 2.5rem;
        height: 2.5em;
        filter: brightness(0) saturate(100%) invert(38%) sepia(8%) saturate(2593%) hue-rotate(97deg) brightness(105%) contrast(99%);
    }

    .close-btn {
        padding: 0vw;
        display: flex;
        justify-content: center;
        background-color: inherit;
        border: none;
        align-self: flex-end;
        margin: 2em 6vw 5em 0vw;
    }

    .sections {
        position: absolute;
        margin: 0vw;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 10;
        height: 100vh;
        width: 70vw;
        right: 0vw;
        top: 0vw;
        background-color: var(--clr-white);
        box-shadow: 30em 30em 30em 30em hsl(0, 0%, 30%);
    }

    .sections.open {
        display: flex;
    }

    .section {
        margin: 1vw 0vw 1vw 0vw;
        border: none;
        border-left: 1vw solid transparent;
        padding: 2vw 5vw;
        font-weight: 500;
        color: var(--clr-black);
        text-decoration: none;
        transition: var(--transition);
        font-size: 1.2rem;
    }

    .section:hover, .section:active, .section:focus {
        color: var(--clr-yellow);
        border: none;
        border-left: 1vw solid var(--clr-jade);
    }

    .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0vw 6vw;
    align-items: center;
    height: calc(100vh - 3rem);
    }

    .home-body {
        width: 88vw;
        display: flex;
        flex-direction: column;
    }

    .home-body-text {
        display: flex;
        flex-direction: column;
    }

    .home-body-text-header {
        font-size: 2.5rem;
        margin: 0vw 0vw 0.5rem 0vw;
    }

    .home-body-text-body {
        font-size: 1rem;
        margin: 0.5rem 0rem;
        line-height: 1.75;
    }

    .about {
        margin: 0vw 6vw;
        padding: 3.5rem 0vw 0vw 0vw;
        display: flex;
        flex-direction: column;
    }

    .who, .journey, .values {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        line-height: 1.6;
        margin: 0.25rem 0vw 0.5rem 0vw;
    }

    .who-header, .journey-header, .values-header {
        font-size: 1.1rem;
        font-weight: 700;
    }

    .values-body {
        display: flex;
        flex-direction: column;
    }

    .values-body span {
        margin: 0.125rem 0vw
    }

    .mission {
        margin: 0ve 6vw;
        padding: 3.5rem 0vw 0vw 0vw;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        line-height: 1.6;
    }

    .mission-body {
        display: flex;
        flex-direction: column;
    }

    .mission-body span {
        margin: 0.25rem 0vw;
    }

    .our, .why, .impact, .involved {
        display: flex;
        flex-direction: column;
    }

    .why-header, .impact-header, .involved-header {
        font-size: 1.1rem;
        color: var(--clr-black);
    }

    .act {
        margin: 0vw 6vw;
        padding: 3.5rem 0vw 0vw 0vw;
        display: flex;
        flex-direction: column;
        line-height: 1.6;
    }


    .contact-btn {
        color: var(--clr-black);
        background-color: inherit;
        padding: 0,5rem 0vw;
        font-size: 1rem;
        font-weight: 700;
        justify-content: center;
        text-decoration: none;
        border: none;
        border-bottom: 0.25rem solid var(--clr-jade);
        margin: 1em 0vw 0vw 0vw;
        transition: var(--transition);
        width: fit-content;
    }

    .home-hero {
        width: 88vw;
        height: 40vh;
        background-image: url(assets/mobile-hero.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        margin: 1rem 0vw 0vw 0vw;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3.5em 0vw 0vw 0vw;
        margin: 0vw 6vw 4vw 6vw;
    }

    .contact-us {
        display: flex;
        flex-direction: column;
    }

    .form-header, .act-header {
        font-size: 1.5rem;
        color: var(--clr-jade);
    }

    input {
        font-size: 1rem;
        font-family: var(--ff);
        padding: 2vw;
        margin: 2vw 0vw 0vw 0vw;
        border: none;
        background-color: inherit;
        border-bottom: 2px solid var(--clr-jade);
        width: 84vw;
    }

    textarea {
        font-size: 1rem;
        font-family: var(--ff);
        padding: 2vw;
        margin: 2vw 0vw 0vw 0vw;
        border: none;
        background-color: inherit;
        border-bottom: 2px solid var(--clr-jade);
        width: 84vw;
    }

    .send-button {
        color: var(--clr-black);
        background-color: inherit;
        padding: 2vw;
        font-size: 1rem;
        font-weight: 700;
        font-family: var(--ff);
        justify-content: center;
        border: none;
        border-bottom: 0.25rem solid var(--clr-jade);
        margin: 0vw 0vw 10vw 0vw;
        cursor: pointer;
        transition: var(--transition);
        width: fit-content;
    }

    .send-button:hover, .send-button:active, .send-button:hover {
        color: var(--clr-yellow);
    }

    .links {
        display: flex;
        flex-direction: column;
        margin: 2vw 0vw 6vw 0vw;
    }

    .links-header {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--clr-jade);
    }

    .link {
        margin: 1vw 0vw 0vw 0vw;
        font-weight: 400;
        color: var(--clr-black);
        text-decoration: none;
        transition: var(--transition);
        font-size: 1rem;
    }

    .link:hover, .link:active, .link:focus {
        color: var(--clr-yellow);
    }

    .socials {
        margin: 0.25rem 0vw 0vw 0vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .social {
        height: 1.3rem;
        width: 1.3rem;
        margin: 0vw 1.5vw;
        background-color: inherit;
        border: none;
        padding: 0vw;
        transition: var(--transition);
    }

    .social img {
        width: 1.3rem;
        height: 1.3rem;
        filter: brightness(0);
    }

    .gmail {
        filter: none;
    }

    .social img:hover {
        filter: brightness(0) saturate(100%) invert(82%) sepia(42%) saturate(1027%) hue-rotate(358deg) brightness(102%) contrast(104%);
    }

    .copyright {
        text-align: center;
        font-size: 0.75rem;
        margin: 2vw 0vw 4vw 0vw;
    }

    .top-btn {
        position: fixed;
        bottom: 14vw;
        right: 10vw;
        width: 10vw;
        height: 8vw;
        padding: 0vw;
        display: flex;
        justify-content: center;
        background-color: inherit;
        border: none;
        transition: background-color 0.3s;
        animation: bounce 2s infinite alternate;
        background-color: transparent;
        display: none;
    }

    .top-btn img {
        width: 10vw;
        height: 10vw;
    }

    .show-btn {
        display: block;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .logo {
        margin: 0.5rem 0vw;
    }

    @keyframes bounce {
        0% {
            bottom: 14vw;
        }
    
        50% {
            bottom: 12vw;
        }
    
        100% {
            bottom: 14vw;
        }
    }
}