@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

:root {
    --clr-black: hsl(0, 0%, 8%);
    --clr-grey: hsl(0, 0%, 14%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-grey: hsl(0, 0%, 85%);
    --clr-yellow: hsl(52, 100%, 50%);
    --clr-jade: hsl(150, 49%, 33%);
    --ff: 'Space Grotesk', sans-serif;
    --transition: 0.3s ease;
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

button, a {
    cursor: pointer;
    transition: var(--transition);
}

body {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--clr-black);
    font-family: var(--ff);
    justify-content: center;
    margin: 1rem 0vw 0vw 0vw;
}


header, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

.logo {
    text-align: center;
    margin: 1em 0vw 0vw 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: auto;
    height: 2.5rem;
    /* filter: brightness(0); */
}

.logo span {
    margin: 0vw 0vw 0vw 0.5vw;
    font-size: 1.4rem;
    font-weight: 600;
}

.sections {
    margin: 1em 7vw 0vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section {
    margin: 0vw 1vw;
    padding: 0.5rem 0rem;
    border-bottom: 0.25rem solid transparent;
    font-weight: 600;
    color: var(--clr-black);
    text-decoration: none;
    transition: var(--transition);
    font-size: 1.25rem;
}

.section:hover, .section:active, .section:focus {
    color: var(--clr-yellow);
    border-bottom: 0.25rem solid var(--clr-jade);
}

.socials {
    margin: 1em 7vw 0vw 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    height: 1.6rem;
    width: 1.6rem;
    margin: 0vw 0.75vw;
    background-color: inherit;
    border: none;
    padding: 0vw;
    transition: var(--transition);
}

.social img {
    width: 1.6rem;
    height: 1.6rem;
    filter: brightness(0);
}

.gmail {
    filter: none;
}

.social img:hover {
    filter: brightness(0) saturate(100%) invert(82%) sepia(42%) saturate(1027%) hue-rotate(358deg) brightness(102%) contrast(104%);
}